<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openInsertService()" />
        <p-button
            severity="secondary"
            label="Delete"
            icon="pi pi-trash"
            outlined
            (onClick)="deleteSelectedProducts()"
            [disabled]="!selectedProducts || !selectedProducts.length"
        />
    </ng-template>

    <!-- <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template> -->
</p-toolbar>

<p-table
    #dt
    [value]="services"
    [rows]="10"
    [columns]="cols"
    [lazy]="true"
    [loading]="loading"
    (onLazyLoad)="loadData($event)"
    [totalRecords]="nbServices"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="_id"
    currentPageReportTemplate="Liste des services"
    [showCurrentPageReport]="true"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Liste des services</h5>
            <!-- <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield> -->
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="nom">
                Nom
                <p-sortIcon field="nom" />
            </th>
            <th pSortableColumn="pieces">Sous-Services</th>
        </tr>
    </ng-template>
    <ng-template #body let-service>
        <tr style="cursor: pointer">
            <td style="width: 3rem">
                <p-tableCheckbox [value]="service" />
            </td>
            <td>{{ service.nom }}</td>
            <td>
                <p-button type="button" label="Sous-Services" (click)="toggleDataTable(op2, service, $event)" />
            </td>
            <td>
                <p-button
                    icon="pi pi-pencil"
                    class="mr-2"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="openUpdateService(service)"
                />
                <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    (click)="deleteService(service)"
                />
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- <div class="card"> -->
<div class="flex flex-wrap gap-2">
    <p-popover #op2 id="overlay_panel" [style]="{ width: '700px' }">
        <p-table [value]="listSousCliquer" selectionMode="single" [(selection)]="selectedProduct" dataKey="_id" (onRowSelect)="onProductSelect(op2, $event)">
            <ng-template #header>
                <tr>
                    <th>Nom</th>
                    <th>Cout du sous-service</th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td>{{ product.nom }}</td>
                    <td>{{ product.prix | number:'1.0-2':'fr' }} ar</td>
                    <td>
                        <p-button
                            icon="pi pi-trash"
                            severity="danger"
                            [rounded]="true"
                            [outlined]="true"
                            (click)="deleteSousFromService(product)"
                        />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-popover>
    <p-toast />
</div>
<!-- </div> -->
<p-dialog [(visible)]="newServiceDialog" [style]="{ width: '450px' }" header="Nouveau service" [modal]="true">
    <div class="mb-3">
        <label for="name" class="block font-bold">Nom</label>
        <input type="text" pInputText id="name" required autofocus fluid [(ngModel)]="serviceInsert.nom" />
    </div>
    <div class="font-semibold text-xl">Sous-Services</div>
    <p-multiselect
        [options]="allSousServices"
        [(ngModel)]="sousSelected"
        placeholder="Sélectionnez les sous-services"
        optionLabel="nom"
        optionValue="_id"
        display="chip"
        [filter]="true"
        fluid
        appendTo="body"
    >
        <ng-template #selecteditems let-sous>
            @for (sou of sous; track sou.code) {
                <div class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
                    <div>{{ sou.nom }}</div>
                </div>
            }
        </ng-template>
        <ng-template #item let-sous>
            <div class="flex items-center justify-between w-full">
                <div>{{ sous.nom }}</div>
            </div>
        </ng-template>
    </p-multiselect>
    <p-message *ngIf="errorMessage" severity="error" styleClass="mt-5">{{ errorMessage }}</p-message>
    <ng-template #footer>
        <p-button label="Annuler" icon="pi pi-times" text (click)="hideNewServiceDialog()" />
        <p-button label="Enregistrer" icon="pi pi-check" (click)="insertService()" />
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="updatePieceDialog" [style]="{ width: '450px' }" header="Modifier" [modal]="true">
    <div class="mb-3">
        <label for="name" class="block font-bold">Nom</label>
        <input type="text" pInputText id="name" required autofocus fluid [(ngModel)]="serviceUpdate.nom" />
    </div>
    <div class="font-semibold text-xl">Sous-Services</div>
    <p-multiselect
        [options]="allSousServicesUpdate"
        [(ngModel)]="sousSelectedUpdate"
        placeholder="Sélectionnez les sous-services"
        optionLabel="nom"
        optionValue="_id"
        display="chip"
        [filter]="true"
        fluid
        appendTo="body"
    >
        <ng-template #selecteditems let-sous>
            @for (sou of sous; track sou.code) {
                <div class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
                    <div>{{ sou.nom }}</div>
                </div>
            }
        </ng-template>
        <ng-template #item let-sous>
            <div class="flex items-center justify-between w-full">
                <div>{{ sous.nom }}</div>
            </div>
        </ng-template>
    </p-multiselect>
    <p-message *ngIf="errorMessage" severity="error" styleClass="mt-5">{{ errorMessage }}</p-message>
    <ng-template #footer>
        <p-button label="Annuler" icon="pi pi-times" text (click)="hideUpdateSousDialog()" />
        <p-button label="Modifier" icon="pi pi-check" (click)="updatePiece()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
